body { 
        background-image: var(--background-image);
        background-size: cover;
        background-position: center;
}

.CategoryBar-sc-1c6g74-6.hRGhez,
.Column-sc-mmjmg6-0.Base-sc-1c6g74-0.iGkTrh.kpGWUw,
.sc-gKseQn.fkSdhS,
.EmbedInvite__EmbedInviteBase-sc-154n8c6-0.bTyHZC,
._attachment_197qa_1._file_197qa_25,
.MessageBox__Base-sc-jul4fa-0.jBEnry,
._embed_1912h_1._website_1912h_12,
.Theme__ThemeInfo-sc-12nukt1-0.jPrjw,
.Sidebar__Base-sc-1uh6eub-0.cRCSBm,
._content_sso5v_77, 
._details_605sm_31,
._actions_ag1so_25 > *,
.Modal__ModalBase-sc-1ppg3sd-0.bDDYwS,
._settings_t7t23_33,
._actions_iu4oa_1,
.ReplyBar__Base-sc-d2l7w7-0.jtuvHh,
.VoiceHeader__VoiceBase-sc-mvbohh-0.coVeIl,
.Tip__TipBase-sc-1b2fe6b-1.bVXzUI,
.ComboBox-sc-djv074-0.ddkErI,
.FilePreview__Container-sc-znkm6h-0.ewmXHm,
.Discover__Container-sc-6nwhb3-0.gAGipD,
.Details-sc-1qkt4w1-0.kyMBmJ,
.Titlebar__TitlebarBase-sc-1ykozpe-0.hwmymO,
.BottomNavigation__Base-sc-15obpw5-0.fmxapA,
._invite_605sm_1, .Header-sc-39hpd7-0.fUpUzg,
.ErrorBoundary__CrashContainer-sc-1s8h6qo-0.cHHQBt,
._pending_sd6wo_95,
._attachment_197qa_1._audio_197qa_13,
.RequiresOnline__Base-sc-qthzj2-0.hwlBoN,
._attachment_197qa_1._text_197qa_33,
.RevoltApp__StatusBar-sc-1613ew5-1.iOZZrd,
.Button-sc-1gxkzq3-0.iWNKPN,
.Tile__Icon-sc-1szgf75-3.xlMfH,
img._image_197qa_75,
.Base-sc-1d91xkm-0.kVCswW,
._embed_dxa3n_1._website_dxa3n_12,
.sc-iBPTik.bnZuoo,
.Details-sc-3j94yd-0.jKeKvP,
.InviteBot__BotInfo-sc-eg29o6-0.fNvYYN,
.ComboBox-sc-f94r78-0.jfwTbF,
.MemberList__ListCategory-sc-1bwlier-0.jOPNWX,

input, textarea, button, .entry, blockquote, .spoiler,
pre.code, .context-menu, audio, table, .mobile, pre
{
        backdrop-filter: blur(var(--blur-strength)) !important;
}

.Base-sc-1d91xkm-0.kVCswW {
        background-color: var(--primary-background);
}

.Column-sc-mmjmg6-0.Base-sc-1c6g74-0.iGkTrh.kpGWUw,
.CategoryBar-sc-1c6g74-6.hRGhez
{
        background-color: var(--tertiary-background);
}

.CategoryBar-sc-1c6g74-6.hRGhez {
        border-radius: 40px 15px 15px 40px;
}

.MemberList__ListCategory-sc-1bwlier-0.jOPNWX {
        background-color: transparent;
}

.FallbackBase-sc-3bwws8-1.gafLvO {
        background-color: var(--primary-background);
}

/*
        This exists only because you can't customize dim color of banner
        It's always black, but text on that background is also black if you use white theme
        Following style is forsing white text on dark banner
        Remove it when dimming color of banned become customizable
*/
._header_kup3j_8[data-force="light"] > * > ._details_kup3j_33 > *,
._header_kup3j_8[data-force="light"] > ._profile_kup3j_21 > .IconButton-sc-166lqkp-0.bGwznd > svg,
._header_kup3j_8[data-force="light"] > * > ._details_kup3j_33 > ._usernameDetail_kup3j_45 > *
{
        color: white !important;
        fill: white; 
}

.MessageBox__Base-sc-jul4fa-0.jBEnry > * ,
.MessageBox__Base-sc-jul4fa-0.jBEnry, 
.ServerListSidebar__ServerEntry-sc-10bk066-2.jFgSXl > span > svg > path
{
        background-color: transparent !important;
        fill: var(--primary-background) !important;
}

._tabs_kup3j_69 > div {
        border-radius: var(--border-radius);
        border-bottom: 0px !important;
        margin-bottom: 10px;
}

._tabs_kup3j_69 > div[data-active=true], 
._tabs_kup3j_69 > div[data-active=true]:hover
{
        background-color: var(--primary-background);
        color: var(--foreground);
        border-bottom: 0px !important;
}

._tabs_kup3j_69 > div:hover {
        background-color: var(--secondary-background);
        color: var(--foreground);
        border-bottom: 0px !important;
}

.InviteBot__BotInfo-sc-eg29o6-0.fNvYYN {
  border-radius: 10px;
}

option, audio {
  background-color: var(--primary-background);
  color: var(--primary-foreground);
}

option:hover {
  background-color: var(--accent);
}

.token.property {
        color: #d18f00;
}

div:has(> .UserBadges__BadgesBase-sc-1ubexy3-0.iZiKUr) {
        margin: 0px 0px 10px 20px !important;
}

.sc-jSgvzq.fDfxAc {
        color: var(--accent);
        background-color: var(--primary-background);
}

pre > code {
        background-color: transparent !important;
}

code {
        padding: 0px 3px;
        color: var(--primary-foreground) !important;
}

blockquote < pre.code {
  backdrop-filter: none;
}

blockquote > blockquote {
  backdrop-filter: none;
  background-color: var(--primary-background) !important;
}

*::selection {
  background-color: var(--selection-background);
  color: var(--selection-color);
}

._version_t7t23_53:after {
        content: "Cats theme v1.1";
        white-space: pre;
        user-select: all;
}

.RevoltApp__StatusBar-sc-1613ew5-1.iOZZrd {
    color: var(--accent) !important;
}

.context-menu {
  transition: all 100ms;
  background-color: var(--secondary-background) !important;
}

.context-menu > * {
        border-radius: var(--border-radius) !important;
}

.context-menu > *:hover {
  color: var(--accent);
  background-color: var(--primary-background) !important;
  backdrop-filter: none;
}

.SidebarBase-sc-1dma6vq-0.jyizw,
.Button-sc-1gxkzq3-0.iWNKPN, 
table, .Details-sc-1qkt4w1-0.kyMBmJ, time
{
  background-color: var(--primary-background);
}

textarea, time {
  background-color: transparent !important;
}

img._image_197qa_75 {
  background-color: var(--secondary-background) !important;
}

._container_197qa_64 {
  min-width: 20%;
}

.spoiler > img {
  display: none;
}

.Modal__ModalBase-sc-1ppg3sd-0.bDDYwS {
  background: var(--primary-background);
}
